In [1]:
import pandas as pd

In [14]:
raw_data_path = '../data/raw/loan_default.csv'
df = pd.read_csv(raw_data_path)

In [22]:
df.describe()

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Default
count,255347.000000,255347.000000,255347.000000,255347.000000,255347.000000,255347.000000,255347.000000,255347.000000,255347.000000,255347.000000
mean,43.498306,82499.304597,127578.865512,574.264346,59.541976,2.501036,13.492773,36.025894,0.500212,0.116128
std,14.990258,38963.013729,70840.706142,158.903867,34.643376,1.117018,6.636443,16.969330,0.230917,0.320379
min,18.000000,15000.000000,5000.000000,300.000000,0.000000,1.000000,2.000000,12.000000,0.100000,0.000000
25%,31.000000,48825.500000,66156.000000,437.000000,30.000000,2.000000,7.770000,24.000000,0.300000,0.000000
50%,43.000000,82466.000000,127556.000000,574.000000,60.000000,2.000000,13.460000,36.000000,0.500000,0.000000
75%,56.000000,116219.000000,188985.000000,712.000000,90.000000,3.000000,19.250000,48.000000,0.700000,0.000000
max,69.000000,149999.000000,249999.000000,849.000000,119.000000,4.000000,25.000000,60.000000,0.900000,1.000000

In [21]:
df.dtypes

LoanID             object
Age                 int64
Income              int64
LoanAmount          int64
CreditScore         int64
MonthsEmployed      int64
NumCreditLines      int64
InterestRate      float64
LoanTerm            int64
DTIRatio          float64
Education          object
EmploymentType     object
MaritalStatus      object
HasMortgage        object
HasDependents      object
LoanPurpose        object
HasCoSigner        object
Default             int64
dtype: object

**Данные выглядит логично, противоречий нет**

In [16]:
df.isna().mean().sort_values(ascending=False) #проверка на пропуски

LoanID            0.0
Age               0.0
HasCoSigner       0.0
LoanPurpose       0.0
HasDependents     0.0
HasMortgage       0.0
MaritalStatus     0.0
EmploymentType    0.0
Education         0.0
DTIRatio          0.0
LoanTerm          0.0
InterestRate      0.0
NumCreditLines    0.0
MonthsEmployed    0.0
CreditScore       0.0
LoanAmount        0.0
Income            0.0
Default           0.0
dtype: float64

**Пропусков нет**

In [13]:
df["Default"].value_counts(normalize=True)

Default
0    0.883872
1    0.116128
Name: proportion, dtype: float64

**88% — без дефолта
11% — дефолт**

In [26]:
df.groupby("Default")["Income"].median()

Default
0    84237.5
1    66566.0
Name: Income, dtype: float64

**Клиенты с дефолтом в среднем имеют более низкий доход, что соответствует логике**

# Датасет представляет собой крупный и реалистичный набор кредитных данных c понятными признаками, качество данных высокое, что делает датасет подходящим для построения и последующей валидации моделей кредитного риска.